.home {
  margin: 7% 11%;
  display: flex;
  flex-direction: column;
  width: 680px;
  &__h1 {
    margin-bottom: 0;
    font-size: 55px;
  }
  &__h2 {
    margin: 0;
    font-size: 45px;
  }
  &__h3 {
    margin: 0;
    font-size: 30px;
  }
}
