.work {
  margin: 7% 11%;
  display: flex;
  flex-direction: column;
  width: 680px;
  &__h1 {
    margin-bottom: 0;
    font-size: 55px;
  }
}

.games {
  &__link {
    text-decoration: none;
    font-size: 35px;
    color: silver;
  }
}
