#top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  background-color: #f0f0f3;
}

.mail {
  font-family: monospace, sans-serif;
  font-size: 15px;
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.mail:hover {
  color: darkblue;
}

#slide-con {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.link:visited {
  text-decoration: none;
  color: black;
}
.link:focus {
  text-decoration: none;
  color: darkblue;
}

.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width: 75%;
  left: 18px;
}

.fb {
  margin-right: 15px;
}

/* SLIDER */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.CSSgal {
  position: relative;
  overflow: hidden;
  height: 70%;
}

.CSSgal .slider {
  height: 70%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  top: 35%;
  width: 100%;
  height: 0;
}

.CSSgal .prevNext > div + div {
  visibility: hidden;
}

.CSSgal .prevNext a {
  background: black;
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.CSSgal .prevNext a:hover {
  opacity: 1;
}
.CSSgal .prevNext a + a {
  left: auto;
  right: 0;
}

.CSSgal .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.CSSgal .bullets > a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.CSSgal .bullets > a + a {
  background: rgba(255, 255, 255, 0.5); 
}
.CSSgal .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

.CSSgal > s:target ~ .bullets > * {
  background: rgba(255, 255, 255, 0.5);
}

#s1:target ~ .bullets > *:nth-child(1) {
  background: rgba(255, 255, 255, 1);
}
#s2:target ~ .bullets > *:nth-child(2) {
  background: rgba(255, 255, 255, 1);
}
#s3:target ~ .bullets > *:nth-child(3) {
  background: rgba(255, 255, 255, 1);
}

.CSSgal > s:target ~ .prevNext > * {
  visibility: hidden;
}

#s1:target ~ .prevNext > *:nth-child(1) {
  visibility: visible;
}
#s2:target ~ .prevNext > *:nth-child(2) {
  visibility: visible;
}
#s3:target ~ .prevNext > *:nth-child(3) {
  visibility: visible;
}

#s1:target ~ .slider {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}
#s2:target ~ .slider {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
#s3:target ~ .slider {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}

 .CSSgal {
  color: #f0f0f3;
  text-align: center;
}

.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;*/
}
