#top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  background-color: #f0f0f3;
}

.mail {
  font-family: monospace, sans-serif;
  font-size: 15px;
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.mail:hover {
  color: darkblue;
}

#slide-con {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.link:visited {
  text-decoration: none;
  color: black;
}
.link:focus {
  text-decoration: none;
  color: darkblue;
}

.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.link:hover:after {
  width: 75%;
  left: 18px;
}

.fb {
  margin-right: 15px;
}

/* SLIDER */
