/* @media only screen and (max-width: 1920px) {
	main,
	h1 h2 h3 {
		margin: 0 10em 0 12.5em;
	}
	.h3-footer {
		margin: 12em 15em 0 10em;
	}
}



main,
h1 h2 h3 {
	display: flex;
	flex-direction: column-reverse;
	align-content: center;
	height: 40vh;
	margin: 0 10em 0 10em;
}

h1 {
	font-size: 3.5em;
	margin: 0;
}

h2 {
	font-size: 3em;
	margin: 0;
}

h3 {
	font-size: 2em;
	margin: 0;
}

.h3-footer {
	font-size: 1.6em;
	margin: 12em 9.5em 0 10em;
	display: flex;
	justify-content: flex-end;

	animation: glitch 1s linear infinite;
}



@media only screen and (max-width: 1280px) {
	.h3-footer {
		margin: 12em 7em 0 10em;
	}
}



@media only screen and (max-width: 768px) {
	main,
	h1 h2 h3 {
		margin: 1em 4em 1em 4em;
	}

	h1 {
		font-size: 3em;
		margin: 0;
	}

	h2 {
		font-size: 2.5em;
		margin: 0;
	}

	h3 {
		font-size: 2em;
		margin: 0;
	}
	.h3-footer {
		font-size: 1.6em;
		margin: 10em 4em 2em 4em;
	}
}


@media only screen and (max-width: 414px) {
	main,
	h1 h2 h3 {
		margin: 1em 2em 1em 2em;
	}

	h1 {
		font-size: 2em;
		margin: 0;
	}

	h2 {
		font-size: 1.2em;
		margin: 0;
	}

	h3 {
		font-size: 0.9em;
		margin: 0;
	}
	.h3-footer {
		font-size: 1.6em;
		margin: 6em 0.1em 2em 7em;
	}
}



@keyframes glitch {
	2%,
	64% {
		transform: translate(2px, 0) skew(0deg);
	}
	4%,
	60% {
		transform: translate(-2px, 0) skew(0deg);
	}
	62% {
		transform: translate(0, 0) skew(5deg);
	}
}

.h3-footer::before,
.h3-footer::after {
	content: attr(title);
	position: absolute;
}

.h3-footer::before {
	animation: glitchTop 1s linear infinite;
}

@keyframes glitchTop {
	2%,
	64% {
		transform: translate(2px, -2px);
	}
	4%,
	60% {
		transform: translate(-2px, 2px);
	}
	62% {
		transform: translate(13px, -1px) skew(-13deg);
	}
}

.h3-footer::after {
	animation: glitchBotom 1.5s linear infinite;
}

@keyframes glitchBotom {
	2%,
	64% {
		transform: translate(-2px, 0);
	}
	4%,
	60% {
		transform: translate(-2px, 0);
	}
	62% {
		transform: translate(-10px, 7px) skew(13deg);
	}
} */
