/* responsive */

/* 1920x1080 */

@media only screen and (max-width: 1920px) {
	ul {
		margin: 4vh 8vw 0 60vw;
	}
}

/* basic settings */

ul {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	margin: 3vh 10vw 0 57.2vw;
	font-size: 17px;
	color: silver;
}

/* tablets */

@media only screen and (max-width: 768px) {
	ul {
		margin: 2em 5em 0 2em;
	}
}
/* phones */

@media only screen and (max-width: 414px) {
	ul {
		margin: 1em 1vw 0 0;
	}
}

/*** responsive ends ***/

ul li a {
	text-decoration: none;
}

ul li a:link {
	color: silver;
}

ul li a:hover {
	color: black;
}

.link-style:hover {
	color: black !important;
}

svg:hover {
	fill: white;
}
